# ali
DASHSCOPE_API_KEY=your_ali_api_key
ALI_BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1
ALI_MODEL=your_model

# deepseek
DEEPSEEK_API_KEY=your_api_key
DEEPSEEK_BASE_URL=https://api.deepseek.com
DEEPSEEK_MODEL=your_model